{% extends "layout.html.twig" %}

{% set citation = entity %}
{% set view_all_route = path('app_citation') %}
{% set view_all_ent_plural = 'Citations' %}

{% block headline %}
		{{ include('view_all_uplink.html.twig') }}
		Editing Citation: {{ entity }}
{% endblock headline %}

{% block detail %}
    <ul class="record_actions">
        {{ form(edit_form) }}
    </ul>
    <h5><a href="{{ path('app_citation_show', { 'id': citation.id }) }}"> Return to {{ citation }}</a></h5>
{% endblock detail %}
