{% extends "layout.html.twig" %}

{% block headline %}Welcome to Bat Eco-Interactions{% endblock %}
{% set george = "I am George" %}
{% if is_granted('ROLE_SUPER_ADMIN') %}
	{% set george = "I am Sarah" %}
	{% block javascripts %}
	  {{ parent() }}
		<script src="{{ asset('bundles/app/js/on-admin-login.js') }}"></script>
	{% endblock %}
{% endif %}

{% block detail %}
	<div id="top-pgs" data-user-role="{{ george }}">
	{% embed 'sidebar_sect.html.twig' %}
		{% block firstcol %}
		{% if eifrole == 'member' %}
			<h3 style="color: #2D7853;"}>Welcome {{ eifusername }}</h3>
			<p style="color: #2D7853;">Thanks for confirming your registration and logging into the site. For the time being, the only thing that's different, now that you've logged in, is that you see the welcome message above, this paragraph, and your username on the menu bar. A menu opens from your username and will allow you to change your password or log out. We know that's not much of a difference, but we appreciate your participation and more benefits of logging in are coming soon! You've already helped us test the registration, confirmation and login components of the site. We'll let you know as soon as there is more to see and do.</p>
		{% endif %}
			<p class="top-em-mrg">With over 1,300 species worldwide, bats are critical components to many ecosystems as pollinators, seed dispersers, and consumers of night-flying insects. We created the Bat Eco-Interactions Database to facilitate scientific research on bat diets and the ecosystem services they provide by gathering all published, peer-reviewed accounts of these interactions.</p>
			<p><strong>Our vision</strong> is to provide a unique platform for scientists, researchers, and avid amateurs to investigate bat diets and the important roles bats play in our environment with the goal of promoting bat research and conservation worldwide. Our database is open sourced, freely available and continually updated by collaborators to provide the most up-to-date information on bat interactions with plants and arthropods. </p>
		{% endblock firstcol %}
		{% block secondcol %}
			<h3>Bat Eco-Interactions</h3>
			<p>“Bat Eco-Interactions” are defined here as the interactions in which bats consume or transport part or all of another organism, specifically plants or arthropods. In so doing, they can be mere consumers or can be pollinators, seed dispersers, or pest controllers. For a list of definitions explaining the various interactions covered in this database, please go to <a href="{{ path('AppBundle_defs')}}">Definitions</a>.</p>
			<p class="top-em-mrg">The Bat Eco-Interactions Database is a tool designed to assist professionals                from diverse fields of study,
				including biology, natural resource management, sociology, public health, among many others, to
				address scientific research questions, assess policies and programs, and to enrich educational
				initiatives. By providing a place to catalog and share data, we are increasing the impact of scientific
				research in bat conservation, and much more, for the benefit of all. </p>
		{% endblock secondcol%}
	{% endembed %}
	</div>
{% endblock detail %}
