{% form_theme form 'form/fields.html.twig' %}

{% extends "layout.html.twig" %}

{% block headline %}Submit Publications to the Project{% endblock %}

{% block detail %}
    <div class="top-pgs">
        {% embed 'two_cols_sect.html.twig' %}
            {% block firstcol %}
                <h4> The Bat Eco-Interactions Database currently has over 7500 interactions
                    from over 375 citations, and we are adding more every day. You can contribute
                    to this effort by submitting publications to be entered into the database.
                </h4>
                {% if error %}
                    <p style="color: red; font-weight: 600;">There was an error while uploading. If 
                        this problem persists, please send us an email at info@batplant.org 
                        or "Leave Feedback" on this page.
                    </p>
                    {% if app.environment == 'dev' %}
                        <p style="color: red;">{{ error }}</p>
                    {% endif %}
                {% elseif success %}
                    <p style="color: green; font-weight: 600;">Thank you for your submission!</p>
                {% endif %}


                {{ form_start(form) }}
                    {{ form_row(form.file) }}
                    {{ form_row(form.description) }}
                {{ form_end(form) }}
            {% endblock firstcol %}
            {% block secondcol %}            
                <h4>Publications currently being added to the database:</h4>
                <br>
                <embed src="{{ asset('build/files/Publications To Add.pdf') }}" height="455px" width="740px">
            {% endblock secondcol%}
        {% endembed %}
    </div> 
{% endblock detail %}
