<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}batplant.org{% endblock %}</title>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
        <meta name="description" content="BatPlant.org - Database of interactions between bats and plants." />
        <meta name="keywords" content="bats plants biology taxonomy" />
        <meta name="robots" content="index, follow" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bundles/app/css/oi.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/css/jquery-ui.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/css/data-tables/jquery.dataTables.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/css/data-tables/buttons.dataTables.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/css/data-tables/fixedHeader.dataTables.min.css') }}" />
        {% endblock stylesheets %}
        {% block javascripts %}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
            <script src="{{ asset('bundles/app/js/data-tables/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/beaverslider.js') }}"></script>
            <script src="{{ asset('bundles/app/js/oislider.js') }}"></script>
            <script src="{{ asset('bundles/app/js/data-tables/dataTables.buttons.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/data-tables/buttons.html5.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/data-tables/dataTables.fixedHeader.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/data-tables/oi-tables.js') }}"></script>
            <script src="{{ asset('bundles/app/js/menus/menu-helper-logger.js') }}"></script>
            <script src="{{ asset('bundles/app/js/menus/menu-manager.js') }}"></script>
            <script src="{{ asset('bundles/app/js/menus/menu-helper.js') }}"></script>            
            <script src="{{ asset('bundles/app/js/menus/menu-helper-init.js') }}"></script>
            <script src="{{ asset('bundles/app/js/oi.js') }}"></script>
        {% endblock javascripts %}

    </head>
        <body>
        {% block body %}
        <div id="outerframe">
            <div id="hdr-sect">
                <div id="masthead">
					<div id="bslider2" data-img-path="{{ asset('bundles/app/images/') }}"></div>
                </div>
                <div id="sticky-hdr">
					<div id="hdrmenu">
						{% if is_granted('ROLE_SUPER_ADMIN') %}
							{% set oirole = 'super' %}
						{% elseif is_granted('ROLE_ADMIN') %}
							{% set oirole = 'admin' %}
						{% elseif is_granted('ROLE_USER') %}
							{% set oirole = 'member' %}
						{% else %}
							{% set oirole = 'visitor' %}
						{% endif %}
						{% set menu = knp_menu_get('AppBundle:Builder:mainMenu', [], {'usrrole': oirole} ) %}
						{{ knp_menu_render(menu, {'currentAsLink': true, 'currentClass': 'active', 'compressed': true}) }}
						<div id="menu-bar-title">batplant.org</div>
					</div>
					<div id="hdrtext">
						<div id="headln-txt">{% block headline %}{% endblock %}</div>
						<div id="tbl-ctrls-reloc"></div>
					</div>
                </div>
            </div>
			{% block fulwide %}{% endblock fulwide %}
			{% block twocols %}
            <div class="colframe">
                <div class="colleft">
                    <div class="col1"><!-- Column 1 start -->{% block detail %}{% endblock %}</div><!-- Column 1 end -->
                    <div class="col2"><!-- Column 2 start -->
                        {% if is_granted('ROLE_ADMIN') %}
                            <div id="adminlinks">
                                {% block adminlnks %}{% endblock adminlnks %}
                            </div>
                        {% endif %}
                        {% block sidebar %}{% endblock sidebar %}
                    </div><!-- Column 2 end -->
                </div>
            </div>
            {% endblock twocols %}
            <div id="footer">
                {% block footer %}
                    <p>Site and Data Copyright 2015 batplant.org - Bat photos Copyright 2013 Merlin Tuttle -
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
							<a href="{{ path('fos_user_profile_show') }}">
								Profile
							</a> |
							<a href="{{ path('fos_user_security_logout') }}">
								{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
							</a>
						{% else %}
							<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
						{% endif %}
                    </p>

                {% endblock %}
            </div>
        {% endblock body %}
    </body>
</html>
