<!DOCTYPE html>
<html lang="en">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% set eifusername = app.user.username %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% set eifrole = 'super' %}
    {% elseif is_granted('ROLE_ADMIN') %}
        {% set eifrole = 'admin' %}
    {% elseif is_granted('ROLE_EDITOR') %}
        {% set eifrole = 'editor' %}
    {% elseif is_granted('ROLE_USER') %}
        {% set eifrole = 'user' %}
    {% else %}
        {% set eifrole = 'visitor' %}
    {% endif %}
{% else %}
    {% set eifusername = '' %}
    {% set eifrole = 'visitor' %}
{% endif %}

{% set baseurl = app.request.getSchemeAndHttpHost() ~ path('app_home') %}
{% set menu = knp_menu_get('AppBundle:Builder:mainMenu', [], {'usrrole': eifrole, 'usrname': eifusername }) %}

<html {% block pagedata %}{% endblock %}>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bat Eco-Interactions{% endblock %}</title>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
        <meta name="description" content="BatPlant.org - A Bat Eco-Interactions Database" />
        <meta name="keywords" content="bats plants insects biology taxonomy" />
        <meta name="robots" content="index, follow" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="manifest" href="{{ asset('build/manifest.json') }}" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }} 
        {% endblock stylesheets %}
        <!-- Javascript at end of body. -->
    </head>

    <body data-env="{{ app.environment }}" data-base-url="{{ baseurl }}"
        data-this-url="{{ app.request.pathinfo }}" data-user-role="{{ eifrole }}" 
        data-user-name="{{ eifusername }}">
        {% block body %}
            <div id="pg-container" data-dt="{% block datatable %}false{% endblock %}">
                {% block masthead %}{% endblock %}
                {% block menu %}{% endblock %}
                {% block pagecontent %}{% endblock %}
            </div>
            {% block modal %}{% endblock %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }} 
        {% endblock javascripts %}  
    </body>
</html>