<!DOCTYPE html>
<html lang="en">

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <!-- {% set eifisuser = true %} -->
    {% set eifusername = app.user.username %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% set eifrole = 'super' %}
    {% elseif is_granted('ROLE_ADMIN') %}
        {% set eifrole = 'admin' %}
    {% elseif is_granted('ROLE_EDITOR') %}
        {% set eifrole = 'editor' %}
    {% elseif is_granted('ROLE_USER') %}
        {% set eifrole = 'user' %}
    {% else %}
        {% set eifrole = 'visitor' %}
    {% endif %}
{% else %}
<!--    {% set eifisuser = false %} -->
    {% set eifusername = '' %}
    {% set eifrole = 'visitor' %}
{% endif %}

{% if is_granted("ROLE_USER") %}
    {% set targeturl = app.request.getSchemeAndHttpHost() ~ path('app_home') %}
{% else %}
    {% set targeturl = "false" %}
{% endif %}

{% set menu = knp_menu_get('AppBundle:Builder:mainMenu', [], {'usrrole': eifrole, 'usrname': eifusername }) %}

<html {% block pagedata %}{% endblock %}>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bat Eco-Interactions{% endblock %}</title>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
        <meta name="description" content="BatPlant.org - A Bat Eco-Interactions Database" />
        <meta name="keywords" content="bats plants insects biology taxonomy" />
        <meta name="robots" content="index, follow" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <link rel="manifest" href="{{ asset('bundles/app/build/manifest.json') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock stylesheets %}
        <!-- Javascript at end of body. -->
    </head>

    <body data-env="{{ app.environment }}" data-ajax-target-url="{{ targeturl }}" data-this-url="{{ app.request.pathinfo }}" data-user-role="{{ eifrole }}" data-user-name="{{ eifusername }}">
    {% block body %}
        <div id="pg-container" data-has-tbl="{% block datatable %}false{% endblock datatable %}">
            {% block masthead %}
             <div id="slider-overlay">
                <img src="{{ asset('bundles/app/images/logo_vert_pale_txt.svg') }}" id="side-logo" alt="batplant.org">
            </div>
            <div id="img-slider">
                <div class="slide" style="opacity: 1;">
                    <img src="{{ asset('bundles/app/images/cactusbat.jpg') }}">
                </div>
                <div class="slide">
                    <img src="{{ asset('bundles/app/images/twobats.jpg') }}">
                </div>
                <div class="slide">
                    <img src="{{ asset('bundles/app/images/inflower.jpg') }}">
                </div>
            </div>
            {% endblock %}
            <div id="sticky-hdr">
                <div id="hdrmenu">
                    {{ knp_menu_render(menu, {'currentAsLink': true, 'currentClass': 'active', 'compressed': true}) }}
                    <div id="menu-bar-title">batplant.org</div>
                </div>
                <div id="hdrtext">
                    <div id="headln-txt">
                        {% block headline %}{% endblock %}
                    </div>
                    <div id="tbl-ctrls-reloc"></div>
                </div>
            </div>
            <div id="{% block pageid %}content-detail{% endblock pageid %}">
                <div id="detail-block">{% block detail %}{% endblock %}</div>
                <div id="footer" class="flex-row">
                    {% block footer %}
                        <span>Site and Data Copyright 2015 batplant.org -
                            Bat photos Copyright: Merlin D. Tuttle/Bat Conservation International
                            <a href="http://www.batcon.org/">www.batcon.org</a>
                        </span>
                        <span>
                            <a id="footer-tos" href="Javascript:void(0)">
                                batplant.org Terms of Use</a>
                        </span>
                    {% endblock %}
                </div>
            </div>
        </div>
        <div id="b-overlay" class="flex-col">
            <div id="b-overlay-popup"></div>
        </div>
        {# <div id="b-popup"></div> #}
    {% endblock body %}

    {% block javascripts %}
        <script src="{{ asset('build/manifest.js') }}"></script>            
        <script src="{{ asset('build/libs.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock javascripts %}
    </body>
</html>
