<!doctype html>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	{% set eifisuser = true %}
	{% set eifusername = app.user.username %}
	{% if is_granted('ROLE_SUPER_ADMIN') %}
		{% set eifrole = 'super' %}
	{% elseif is_granted('ROLE_ADMIN') %}
		{% set eifrole = 'admin' %}
	{% elseif is_granted('ROLE_USER') %}
		{% set eifrole = 'member' %}
	{% else %}
		{% set eifrole = 'visitor' %}
	{% endif %}
{% else %}
	{% set eifisuser = false %}
	{% set eifusername = '' %}
	{% set eifrole = 'visitor' %}
{% endif %}

{% if is_granted("ROLE_BETA") %}
	{% set targeturl = app.request.getSchemeAndHttpHost() ~ path('app_home') %}
{% else %}
	{% set targeturl = "false" %}
{% endif %}

{% set menu = knp_menu_get('AppBundle:Builder:mainMenu', [], {'usrrole': eifrole, 'usrname': eifusername }) %}

<html {% block pagedata %}{% endblock %}>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}batplant.org{% endblock %}</title>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
        <meta name="description" content="BatPlant.org - A Bat Eco-Interactions Database" />
        <meta name="keywords" content="bats plants insects biology taxonomy" />
        <meta name="robots" content="index, follow" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		{% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/app/css/data-tables/jquery.dataTables.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/css/data-tables/buttons.dataTables.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/css/data-tables/fixedHeader.dataTables.min.css') }}" />

    		<link rel="stylesheet" href="{{ asset('bundles/app/grid/ag-grid.css') }}" />
		    <link rel="stylesheet" href="{{ asset('bundles/app/grid/theme-fresh.css') }}" />

			<link rel="stylesheet" href="{{ asset('bundles/app/css/ei-reset.css') }}" />
			<link rel="stylesheet" href="{{ asset('bundles/app/css/header.css') }}" />
			<link rel="stylesheet" href="{{ asset('bundles/app/css/oi.css') }}" />
		{% endblock stylesheets %}
		{% block javascripts %}
			<!-- remove zart-ez-logs and switch to minified libs for production -->
			<script src="{{ asset('bundles/app/js/eco-int-namespace.js') }}"></script>
			<script src="{{ asset('bundles/app/js/zart-ez-logs-0.1.js') }}"></script>
			<script src="{{ asset('bundles/app/js/jquery/jquery-2.1.4.js') }}"></script>
		    <script src="{{ asset('bundles/app/grid/ag-grid.js') }}"></script>
			<script src="{{ asset('bundles/app/js/slider/eif-frames.js') }}"></script>
			<script src="{{ asset('bundles/app/js/slider/oislider-config.js') }}"></script>
			<script src="{{ asset('bundles/app/js/slider/beaverslider-full.js') }}"></script>
			<script src="{{ asset('bundles/app/js/slider/oislider.js') }}"></script>
            <script src="{{ asset('bundles/app/js/menus/menu-manager.js') }}"></script>
            <script src="{{ asset('bundles/app/js/menus/menu-helper.js') }}"></script>
            <script src="{{ asset('bundles/app/js/menus/menu-helper-init.js') }}"></script>

            <script src="{{ asset('bundles/app/js/data-tables/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/data-tables/dataTables.buttons.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/data-tables/buttons.html5.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/data-tables/dataTables.fixedHeader.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/data-tables/oi-tables.js') }}"></script>

			<script src="{{ asset('bundles/app/js/oi.js') }}"></script>

			{% if is_granted("ROLE_BETA") %}
				<script src="{{ asset('bundles/app/js/feedback.js') }}"></script>
			{% endif %}
		{% endblock javascripts %}
    </head>

    <body data-ajax-target-url="{{ targeturl }}" data-this-url="{{ app.request.pathinfo }}" data-user-role="{{ eifrole }}" data-user-name="{{ eifusername }}">
	{% block body %}
		<div id="pg-container" data-has-tbl="{% block datatable %}false{% endblock datatable %}">
			{% block masthead %}
			<div id="masthead"  data-img-path="{{ asset('bundles/app/images/') }}">
				<div id="logo-overlay">
					<img src="{{ asset('bundles/app/images/logo_vert_pale_txt.svg') }}" id="side-logo" alt="batplant.org" width="375">
				</div>
				<div id="prev-btn-frame" title="Previous">
					<img id="prev-btn" class="step-btn" src="{{ asset('bundles/app/images/prev.png') }}" alt="<|">
				</div>
				<div id="pause-btn-frame" title="Pause">
					<img id="pause-btn" src="{{ asset('bundles/app/images/pause.png') }}" alt="||">
				</div>
				<div id="next-btn-frame" title="Next">
					<img id="next-btn" class="step-btn" src="{{ asset('bundles/app/images/next.png') }}" alt="|>">
				</div>
			</div>
			{% endblock %}
			<div id="sticky-hdr">
				<div id="hdrmenu">
					{{ knp_menu_render(menu, {'currentAsLink': true, 'currentClass': 'active', 'compressed': true}) }}
					<div id="menu-bar-title">batplant.org</div>
				</div>
				<div id="hdrtext">
					<div id="headln-txt">
						{% block headline %}{% endblock %}
					</div>
					<div id="tbl-ctrls-reloc"></div>
				</div>
			</div>
			<div id="{% block pageid %}content-detail{% endblock pageid %}">
				<div id="detail-block">{% block detail %}{% endblock %}</div>
				<div id="footer">
					{% block footer %}
						<p>Site and Data Copyright 2015 batplant.org -
							Bat photos Copyright: Merlin D. Tuttle/Bat Conservation International
							<a href="http://www.batcon.org/">www.batcon.org</a>
						</p>
					{% endblock %}
				</div>
			</div>
		</div>

    {% endblock body %}
    </body>
</html>
