{% if is_granted('ROLE_ADMIN') %}
	{% set editcol = 4 %}
{% else %}
	{% set editcol = false %}
{% endif %}

<table id="loc_det_list" class="display" data-editcol="{{ editcol }}">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Location Count</th>
            <th>Interaction Count</th>
            {% if is_granted('ROLE_ADMIN') %}
				<th></th>
			{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for habitattype in habitattypes %}
        <tr>
            <td>
				<a href="{{ path('app_habitat_type_show', { 'slug': habitattype.slug }) }}">
					<img src="{{ asset('bundles/app/images/eif.mag.forward.svg') }}" class="icomag" title="View {{ habitattype }} Details" alt="View Details" />
				</a>
            </td>
            <td>
				<a href="{{ path('app_habitat_type_show', { 'slug': habitattype.slug }) }}" title="View {{ habitattype }} Details">
					{{ habitattype }}
				</a>
			</td>
            <td>{{ habitattype.locations | length }}</td>
				{% set ttlints = 0 %}
				{% for location in habitattype.locations %}
					{% set ttlints = ttlints + (location.interactions | length) %}
				{% endfor %}
            <td>{{ ttlints }}</td>
			{% if is_granted('ROLE_ADMIN') %}
				<td><a href="{{ path('app_habitat_type_edit', { 'slug': habitattype.slug }) }}">
					<img src="{{ asset('bundles/app/images/eif.pencil.svg') }}" class="icopen" title="Edit Habitat Type" alt="Edit Habitat Type" />
					</a>
				</td>
			{% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
