{% if is_granted('ROLE_ADMIN') %}
	{% set editcol = 9 %}
{% else %}
	{% set editcol = false %}
{% endif %}

<table id="interaction_list" style="width: 100%;" class="display" data-editcol="{{ editcol }}"{{ objtxn is defined ? 'data-sortcol="5"' : '' }}>
    <thead>
        <tr>
            <th class="{{ colclass.ico }}"></th>
            <th class="{{ colclass.intrtype }}">Interaction Type</th>
            <th class="{{ colclass.tags }}">Tags</th>
            <th class="{{ colclass.loc }}">Location</th>
            <th class="{{ colclass.subj }}">Subject Taxon</th>
            <th class="{{ colclass.slvl }}">Subject Level</th>
            <th class="{{ colclass.obj }}">Object Taxon</th>
            <th class="{{ colclass.olvl }}">Object Level</th>
            <th class="{{ colclass.cit }}">Citation</th>
            <th class="{{ colclass.pub }}">Publication</th>
            {% if is_granted('ROLE_ADMIN') %}
				<th class="{{ colclass.admin }}"></th>
			{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for interaction in interactions %}
            {% if interaction.tags is not empty %}
                {% set tags = interaction.tags %}
            {% else %}
                {% set tags = '' %}
            {% endif %}



        <tr>
            <td class="{{ colclass.ico }}">
				<a href="{{ path('app_interaction_show', { 'id': interaction.id }) }}">
					<img src="{{ asset('bundles/app/images/eif.mag.forward.svg') }}" class="icomag" title="View Interaction Details" alt="View Details" />
				</a>
            </td>
            <td class="{{ colclass.intrtype }}"><a href="{{ path('app_interaction_type_show', { 'slug': interaction.interactiontype.slug }) }}">{{ interaction.interactiontype }}</a></td>
            <td class="{{ colclass.tags }}">{{ tags }}</td>
            {% if (interaction.location != null) %}
                <td class="{{ colclass.loc }}"><a href="{{ path('app_location_show', { 'id': interaction.location.id }) }}">{{ interaction.location}}</a></td>
            {% else %}
                <td></td>
            {% endif %}
            <td class="{{ colclass.subj }}"><a href="{{ path('app_taxon_show', { 'slug': interaction.subject.slug }) }}">{{ interaction.subject }}</a></td>
            <td class="{{ colclass.slvl }}">{{ interaction.subject.level }}</td>
            <td class="{{ colclass.obj }}"><a href="{{ path('app_taxon_show', { 'slug': interaction.object.slug }) }}">{{ interaction.object }}</a></td>
            <td class="{{ colclass.olvl }}">{{ interaction.object.level }}</td>
            <td class="{{ colclass.cit }}"><a href="{{ path('app_citation_show', { 'id': interaction.citation.id }) }}">{{ interaction.citation }}</a></td>
            {% if (interaction.citation.publication != null) %}
                <td class="{{ colclass.pub }}"><a href="{{ path('app_publication_show', { 'slug': interaction.citation.publication.slug }) }}">{{ interaction.citation.publication }}</a></td>
            {% else %}
                <td></td>
            {% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				<td class="{{ colclass.admin }}"><a href="{{ path('app_interaction_edit', { 'id': interaction.id }) }}">
					<img src="{{ asset('bundles/app/images/eif.pencil.svg') }}" class="icopen" title="Edit Interaction" alt="Edit Interaction" />
					</a>
				</td>
			{% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
