{% extends "layout.html.twig" %}

{% set blocks = entities %}

{% block headline %}The Project{% endblock %}

{% block headerright %}
	102 Users | 8 Editors | Est. 2002
{% endblock %}

{% block detail %}
	<div id="about-pg" class="top-pgs">
		{% embed 'two_cols_sect.html.twig' %}
			{% block firstcol %}
				<div id="about-pg-history" class="wysiwyg">
					{{ blocks["about-pg-history"]|raw }}
				</div>
				<div id="about-pg-future-dev" class="wysiwyg">
					{{ blocks["about-pg-future-dev"]|raw }}
				</div>
			{% endblock %}
			{% block secondcol %}
				<div  id="about-pg-announcements" class="wysiwyg">
					{{ blocks["about-pg-announcements"]|raw }}
				</div>
				<div  id="about-pg-contact" class="wysiwyg">
					{{ blocks["about-pg-contact"]|raw }}
				</div>
				<div id="about-pg-acknowledgements" class="wysiwyg">
					{{ blocks["about-pg-acknowledgements"]|raw }}
				</div>
			{% endblock %}
		{% endembed %}
		<span class="em-mrg"></span>
	</div>
	<hr>
	<div id="team" class="top-em-mrg flex-row flex-wrap">
		<div id="team-hdr"><h3>The Bat Eco-Interactions Team</h3></div>
		{% embed 'two_cols_sect.html.twig' %}
			{% block firstcol %}
				<div class="bio-img"><img src="{{ asset('build/images/team-cullen.jpg') }}" alt="Cullen Image"></div>
				<div id="team-cullen" class="wysiwyg">
					{{ blocks["team-cullen"]|raw }}
				</div>
			{% endblock %}
			{% block secondcol %}
				<div class="bio-img"><img src="{{ asset('build/images/team-tuli.jpg') }}" alt="Tuli Image"></div>
				<div id="team-tuli" class="wysiwyg">
					{{ blocks["team-tuli"]|raw }}
				</div>
			{% endblock %}
		{% endembed %}
		<br>
		{% embed 'two_cols_sect.html.twig' %}
			{% block firstcol %}
				<div class="bio-img"><img src="{{ asset('build/images/team-chanda.jpg') }}" alt="Chanda Image"></div>
				<div id="team-chanda" class="wysiwyg">
					{{ blocks["team-chanda"]|raw }}
				</div>
			{% endblock %}
			{% block secondcol %}
				<div class="bio-img"><img src="{{ asset('build/images/team-kelly.jpg') }}" alt="Kelly Image"></div>
				<div id="team-kelly" class="wysiwyg">
					{{ blocks["team-kelly"]|raw }}
				</div>
			{% endblock %}
		{% endembed %}
		<br>
		{% embed 'two_cols_sect.html.twig' %}
			{% block firstcol %}
				<div class="bio-img"><img src="{{ asset('build/images/team-taylor.jpg') }}" alt="Taylor Image"></div>
				<div id="team-taylor" class="wysiwyg">
					{{ blocks["team-taylor"]|raw }}
				</div>
			{% endblock %}
			{% block secondcol %}
				<div class="bio-img"><img src="{{ asset('build/images/team-sarah.jpg') }}" alt="Sarah Image"></div>
				<div id="team-sarah" class="wysiwyg">
					{{ blocks["team-sarah"]|raw }}
				</div>
			{% endblock %}
		{% endembed %}
	</div>

{% endblock detail %}
