{% extends "layout.html.twig" %}

{% set blocks = entities %}

{% block headline %}The Project{% endblock %}

{% block detail %}
	<div id="about-pg" class="top-pgs">
		{% embed 'two_cols_sect.html.twig' %}
			{% block firstcol %}
				{{ blocks["about-pg-history"]|raw }}
				{{ blocks["about-pg-future-dev"]|raw }}
			{% endblock %}
			{% block secondcol %}
				<div>
					{{ blocks["about-pg-announcements"]|raw }}
				</div>
				<div>
					{{ blocks["about-pg-contact"]|raw }}
					{{ blocks["about-pg-acknowledgements"]|raw }}
				</div>
			{% endblock %}
		{% endembed %}
		<span class="em-mrg"></span>
	</div>
	<hr>
	<div id="team-sect" class="top-em-mrg">
		<div id="team-hdr"><h3>The Bat Eco-Interactions Team</h3></div>
		{% embed 'four_cols_sect.html.twig' %}
			{% block firstcol %}
				<div class="bio-img"><img src="{{ asset('bundles/app/images/team-cullen.jpg') }}" alt="Cullen Image"></div>
				{{ blocks["team-cullen"]|raw }}
			{% endblock %}
			{% block secondcol %}
				<div class="bio-img"><img src="{{ asset('bundles/app/images/team-tuli.jpg') }}" alt="Tuli Image"></div>
				{{ blocks["team-tuli"]|raw }}
			{% endblock %}
			{% block thirdcol %}
				<div class="bio-img"><img src="{{ asset('bundles/app/images/team-taylor.jpg') }}" alt="Taylor Image"></div>
				{{ blocks["team-taylor"]|raw }}
			{% endblock %}
			{% block fourthcol %}
				<div class="bio-img"><img src="{{ asset('bundles/app/images/team-sarah.jpg') }}" alt="Sarah Image"></div>
				{{ blocks["team-sarah"]|raw }}
			{% endblock %}
		{% endembed %}
	</div>

{% endblock detail %}
