{% extends "layout.html.twig" %}

{# {% set interaction = entity %} #}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/walkthrough/introjs.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/combobox/selectize.default.css') }}" />
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/app/js/combobox/selectize.js') }}"></script>    
    <script src="{{ asset('bundles/app/js/walkthrough/intro.js') }}"></script>
    <script src="{{ asset('bundles/app/js/search-page.js') }}"></script>
    <script src="{{ asset('bundles/app/js/sync-data.js') }}"></script>
{% endblock %}

{% block headline %}
	Database Search
{% endblock headline %}

{% block detail %}
    <div id="search-opts" class="flex-row">
        <div id="opts-col1" class="opts-col flex-col">
            <label id="filter-opts">
                <span>Group Interactions by: </span>
                <select id="search-focus" class="opts-box">
                    <option value="locs">Location</option>
                    <option value="srcs">Source</option>
                    <option value="taxa">Taxon</option>
                </select>
            </label>
            <div id="sort-opts" class="flex-row"></div>
        </div>
        <div id="opts-col2" class="opts-col flex-col flex-wrap"></div>
        <div id="opts-col3" class="opts-col flex-col flex-wrap"></div>
        <div id="opts-col4" class="flex-col">
            <button id="strt-tut" class="ag-fresh grid-bttn">Tutorial</button>
            <button id="show-tips" class="ag-fresh grid-bttn">Search Tips</button>
        </div>
    </div>
    <div id="grid-tools" class="flex-row">
        <button id="xpand-tree" class="ag-fresh ag-header-cell grid-bttn" name="xpand-tree">Expand All</button>
        <button class="ag-fresh ag-header-cell grid-bttn" name="xpand-1">+</button>
        <button class="ag-fresh ag-header-cell grid-bttn" name="collapse-1">-</button>
        <button class="ag-fresh ag-header-cell grid-bttn" name="reset-grid">Reset Data</button>
        <div id="grid-status" class="flex-row">
            <div id="xtrnl-filter-status">Filtering on:</div>
            <div id="grid-filter-status"></div>
        </div>
        <button class="ag-fresh ag-header-cell grid-bttn" name="show-hide-col">Show/Hide Columns</button>
        <button class="ag-fresh ag-header-cell grid-bttn" name="csv">Download CSV</button>
    </div>
    
    <div id="search-grid" class="ag-fresh">
        <div id="grid-overlay"></div>
        <div id="grid-popup"></div>
    </div>
{% endblock detail %}
