{% if is_granted('ROLE_ADMIN') %}
	{% set editcol = 7 %}
{% else %}
	{% set editcol = false %}
{% endif %}

<table id="cits_list" class="display" data-editcol="{{ editcol }}" data-sortcol="1">
    <thead>
        <tr>
            <th></th>
            <th>Description</th>
            <th>Publication</th>
            <th>Issue</th>
            <th>Type</th>
            <th>Full Text</th>
            <th>Interaction Count</th>
            {% if is_granted('ROLE_ADMIN') %}
				<th></th>
			{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for attribution in author.attributions %}
			{% set citation = attribution.citation %}
			<tr>
				<td>
					<a href="{{ path('app_citation_show', { 'id': citation.id }) }}">
						<img src="{{ asset('bundles/app/images/eif.mag.forward.svg') }}" class="icomag" title="View Citation Details" alt="View Details" />
					</a>
				</td>
				<td>{{ citation.description }}</td>
				<td><a href="{{ path('app_publication_show', { 'slug': citation.publication.slug }) }}">{{ citation.publication }}</a></td>
				<td>{{ citation.publicationissue }}</td>
				<td>{{ citation.isSecondary == 1 ? 'Secondary Citation' : 'Direct Citation' }}</td>
				<td>{{ citation.fulltext }}</td>
				<td>{{ citation.interactions | length }}</td>
				{% if is_granted('ROLE_ADMIN') %}
					<td><a href="{{ path('app_citation_edit', { 'id': citation.id }) }}">
						<img src="{{ asset('bundles/app/images/eif.pencil.svg') }}" class="icopen" title="Edit Citation" alt="Edit Citation" />
						</a>
					</td>
				{% endif %}
			</tr>
		{% endfor %}
    </tbody>
</table>
