{% if is_granted('ROLE_ADMIN') %}
	{% set editcol = 4 %}
{% else %}
	{% set editcol = false %}
{% endif %}

<table id="loc_det_list" class="display" data-editcol="{{ editcol }}">
    <thead id="sticky-col-hdrs">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Location Count</th>
            <th>Interaction Count</th>
            {% if is_granted('ROLE_ADMIN') %}
				<th></th>
			{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for country in countries %}
        {% set slug = country.slug %}
        <tr>
            <td>
				<a href="{{ path('app_country_show', { 'slug': country.slug } ) }}">
					<img src="{{ asset('bundles/app/images/eif.mag.forward.svg') }}" class="icomag" title="View {{ country }} Details" alt="View Details" />
				</a>
            </td>
            <td>
				<a href="{{ path('app_country_show', { 'slug': country.slug }) }}" title="View {{ country }} Details">
					{{ country }}
				</a>
			</td>
            <td>{{ country.locations | length }}</td>
            {% set ttlints = 0 %}
            {% for location in country.locations %}
				{% set ttlints = ttlints + (location.interactions | length) %}
            {% endfor %}
            <td>{{ ttlints }}</td>
			{% if is_granted('ROLE_ADMIN') %}
				<td><a href="{{ path('app_country_edit', { 'slug': country.slug }) }}">
					<img src="{{ asset('bundles/app/images/eif.pencil.svg') }}" class="icopen" title="Edit Country" alt="Edit Country" />
					</a>
				</td>
			{% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
