{% extends "layout.html.twig" %}

{% set location = entity %}
{% set view_all_route = path('app_location') %}
{% set view_all_ent_plural = 'Locations' %}

{% block headline %}
		{{ include('view_all_uplink.html.twig') }}
		Editing Location: {{ entity }}
{% endblock headline %}

{% block detail %}
    <ul class="record_actions">
        {{ form(edit_form) }}
    </ul>
    <h5><a href="{{ path('app_location_show', { 'id': location.id }) }}"> Return to {{ location }}</a></h5>
{% endblock detail %}
