<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.first_name) }}
    {{ form_row(form.last_name) }}
    {{ form_row(form.about_me) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <div class="top-em-mrg">
        <a id="reg-toc" href="Javascript:void(0)">Read and Agree to our Terms of Use to complete your registration.</a>
    </div>
    <div>
        <input id="reg-submit" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
{{ form_end(form) }}
</form>
