{% extends "layout.html.twig" %}

{% block datatable %}pub_pdf_tbl{% endblock datatable %}

{% block headline %}
    Submitted Publications
{% endblock headline %}

{% block detail %}
    <table id="pub_pdf_tbl" class="display" style="width: 100%;">
        <thead>
            <tr>
                <th style="width: 250px;">Title</th>
                <th style="width: 333px;">Description</th>
                <th style="width: 99px;">User</th>
                <th style="width: 222px;">Email</th>
                <th style="width: 88px;">Submitted</th>
                <th style="width: 88px;">Viewed By</th>
                <th style="width: 111px;">Manage</th>
                <!-- <th style="width: 111px;">Delete</th> -->
            </tr>
        </thead>
        <tbody>
            {% for pub in entities %}
                <tr>
                    <td>{{pub.title}}</td>
                    <td title="{{pub.description}}">{{pub.description|slice(0, 95)}}...</td>
                        <td>{{pub.createdBy.firstName}} {{pub.createdBy.lastName}}</td>
                    <td>{{pub.createdBy.email}}</td>
                    <td><center>{{pub.created|date("m/d/Y")}}</center></td>
                    <td><strong><span id="{{pub.id}}-viewed">
                        {% if pub.created == pub.updated %}
                            NEW
                        {% else %}
                            {{pub.updatedBy.firstName}} {{pub.updatedBy.lastName|first}}
                        {% endif %}
                    </strong></td>
                    <td>
                        <center>
                            <input type="button" name="view-pdf" value="Open"
                                class="dt-bttn" style="margin-right: .5em !important;"
                                data-filename="{{ pub.fileName | trim('.pdf') }}" data-id="{{ pub.id }}">
                            <object class="{{ pub.fileName | trim('.pdf') }}" width="100%" height="100%"
                                data="{{ asset('uploads/publications/' ~ pub.fileName) }}"
                                style="display: none;"></object>
                            <input type="button" name="delete-pdf" value="Delete"
                                class="dt-bttn" data-id="{{ pub.id }}">
                        </center>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock detail %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('pdfs') }}
{% endblock javascripts %}