{% extends "layout.html.twig" %}

{% set domain = entity %}
{% set achild = domain.taxon.childtaxa | first %}
{% set childCnt = domain.taxon.childtaxa | length %}

{% block headline %}
		All {{ entity }} Taxa
{% endblock headline %}

{% block detail %}
    <ul id="taxon-outline">
        <li>{{ domain.taxon.level.name }} {{ domain.taxon.displayname }} ({{ domain.pluralname }})</li>
        <ul>
        {% for taxon in domain.taxon.childTaxa %}
            {{ include('domain/taxon_node.html.twig') }}
        {% endfor %}
        </ul>
    </ul>
{% endblock detail %}
