{% extends "layout.html.twig" %}

{% set habitatType = entity %}

{% set view_all_route = path('app_habitat_type') %}
{% set view_all_ent_plural = 'Habitat Types' %}

{% block headline %}
	{{ include('view_all_uplink.html.twig') }}
	Editing Type: {{ entity }}
{% endblock headline %}

{% block detail %}
    <ul class="record_actions">
        {{ form(edit_form) }}
    </ul>
    <h5><a href="{{ path('app_habitat_type_show', { 'slug': habitatType.slug }) }}"> Return to {{ habitatType }}</a></h5>
{% endblock detail %}

