{% extends "FOSUserBundle::layout.html.twig" %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/app/js/editor-login.js') }}"></script>
{% endblock %}

{% block headline %}Log In{% endblock %}

{% block fos_user_content %}
	<p class="top-em-mrg">If you already have an account for batplant.org, you can enter your username and password below.</p>
	<p class="top-em-mrg">If not, <a href="register">click here to register and participate.</a></p>
{% if error %}
    <div class="top-em-mrg" style="color: red">{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	<div>
		<label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
	</div>
	<div>
		<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
		<input type="password" id="password" name="_password" required="required" />
		Forgot Password? <a href="{{ path('fos_user_resetting_request') }}">Click Here</a>
	</div>
	<div>
		<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		<label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
	</div>
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
{% endblock fos_user_content %}
