{% extends "layout.html.twig" %}

{% set attribution = entity %}

{% block detail %}
    <ul>
        <li>Author: {{attribution.author}} </li>
        <li>Citation: {{attribution.citation}}</li>
        <li>Other Authors for this Citation:: {{attribution.author}}
            {% set ttl_authors = attribution.citation.attributions | length %}
            {% if ttl_authors == 1  %}
                none
            {% else %}
                {{ttl_authors - 1}}
            {% endif %}
        </li>
    </ul>
{% endblock detail %}
{% block adminlnks %}
    {% if is_granted('ROLE_ADMIN') %}
        <h3>Admin Links</h3>
<a href="{{ path('app_attribution_edit', { 'id': attribution.id }) }}">Edit {{ attribution }}</a>
    {% endif %}
{% endblock adminlnks %}
{% block sidebar %}
<h3><a href="{{ path('app_attribution') }}">View All Attributions</a></h3>
{% endblock sidebar %}

