{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/show.css') }}" />
{% endblock stylesheets %}

{% block detail %}
    <a href="{{ baseurl }}search">Browse Database</a>
    <br>
    <div id='entity-show' class={% block showclass %}"flex-col"{% endblock %}
    	data-entity='{{ entity }}'></div>
{% endblock detail %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('show') }}
{% endblock javascripts %}
