{% extends 'base.html.twig' %}
{% set menu = knp_menu_get('main', [], {'usrrole': "{{ eifrole }}", 'usrname': "{{ eifusername }}" }) %}

{% block masthead %}
    {% if is_full_view() or is_tablet_view() %}
        {% set img1 = is_full_view() ? 'cactusbat.jpg' : 'cactusbat_750w.jpg' %}
        {% set img2 = is_full_view() ? 'twobats.jpg' : 'twobats_750w.jpg' %}
        {% set img3 = is_full_view() ? 'inflower.jpg' : 'inflower_750w.jpg' %}
        <div id="slider-logo"></div>
        <div id="img-slider">
            <img class="slide" style="opacity: 1;" src="{{ asset('build/images/'~img1) }}">
            <img class="slide" src="{{ asset('build/images/'~img2) }}">
            <img class="slide" src="{{ asset('build/images/'~img3) }}">
            <div id="slider-overlay"></div>   {# Shows browser optimization msg. #}
        </div>
    {% else %}
        <div id="slider-overlay" class="mobile-hdr"></div> {# Shows browser optimization msg. #}
        <div id="slider-logo" class="mobile-hdr"></div>
    {% endif %}
{% endblock %}

{% block menu %}
    {% set menuClass = is_mobile_view() ? 'mobile' : '' %}
    <div id="sticky-hdr" class="{{ menuClass }}">
        <div id="hdrmenu">
            <nav class="flex-row">
                <div id="mobile-menu-bar">
                    <span class="toggle">☰ Menu</span>
                    <div class="site-name">batbase.org</div>
                </div>
              {{ knp_menu_render(menu) }}
            </nav>
            <div id="site-name">batbase.org</div>
        </div>
        <div id="pg-hdr" class="flex-row" style="justify-content: space-between;">
            <div id="headln-txt">
                {% block headline %}{% endblock %}
            </div>
            <div id="hdr-right">{% block headerright %}{% endblock %}</div>
        </div>
    </div>
{% endblock %}

{% block pagecontent %}
    <div id="{% block pageid %}content-detail{% endblock pageid %}">
        <div id="detail-block">{% block detail %}{% endblock %}</div>
        
        {% block footer %}
            <div id="footer" class="flex-row flex-wrap">
                <p>Site and Data Copyright 2020 batbase.org - Bat photos Copyright: Merlin D. Tuttle
                    <a href="http://www.MerlinTuttle.org/">www.MerlinTuttle.org</a>
                </p>
                <br>
                <span>
                    <a id="footer-tos" href="Javascript:void(0)">
                        Terms of Use</a>
                </span>
            </div>
        {% endblock %}

    </div>
{% endblock %}

{% block modal %}
    <div id="b-overlay" class="flex-col">
        <div id="b-overlay-popup" class="popup"></div>
    </div>
{% endblock %}
