<h3>{{ childCnt }} {{ achild.level.pluralname }} in {{ taxon.displayname }}</h3>
<ul>
	{% for taxon in taxon.childTaxa %}
	{% set childCnt = taxon.childtaxa | length %}
		<li>
			<a href="{{ path('app_taxon_show', { 'id': taxon.id }) }}">{{ taxon.displayname }}</a>
			{% if childCnt > 0 %}
				{% set achild = taxon.childtaxa | first %}
				({{ childCnt }} {{ achild.level.pluralname }})
			{% endif %}
		</li>
	{% endfor %}
</ul>
