{% extends "layout.html.twig" %}

{% set country = entity %}
{% set view_all_route = path('app_country') %}
{% set view_all_ent_plural = 'Countries' %}

{% block headline %}
		{{ include('view_all_uplink.html.twig') }}
		Editing Country: {{ entity }}
{% endblock headline %}

{% block detail %}
    <ul class="record_actions">
        {{ form(edit_form) }}
	</ul>
    <h5><a href="{{ path('app_country_show', { 'slug': country.slug }) }}"> Return to {{ country }}</a></h5>
{% endblock detail %}
