{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/feedback.css') }}" />
{% endblock stylesheets %}

{# Javascript after detail block. #}

{% block datatable %}feedback_tbl{% endblock datatable %}

{% block headline %}
    Beta Tester Feedback
{% endblock headline %}

{% block detail %}
    <table id="feedback_tbl" class="display">
        <thead>
            <tr>
                <th>Date</th>
                <th>Created By</th>
                <th>Page</th>
                <th>Topic</th>
                <th>Content</th>
                <th>Admin Notes</th>
                <th>Assigned User</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for feedback in entities if feedback.status > 0 %}
                {% set user = feedback.createdBy %}
                {% set route = 'Home' %}
                {% if feedback.route != '/' %}
                    {% set routeParts = feedback.route|split('/') %}
                    {% set route = routeParts|join(' ') %}
                {% endif %}
                {% set trans = { 
                    0: 'Closed', 1: 'Follow-up', 2: 'Read', 3: 'Unread' }
                %}
                <tr>
                    <td>{{ feedback.created|date("F jS \\a\\t g:ia") }}</td>
                    <td><a href="mailto:{{ user.email }}?subject=website%20feedback">{{ user }}</a></td>
                    <td>
                        <a  href="{{app.request.getSchemeAndHttpHost() ~ app.request.baseUrl ~ feedback.route}}"
                            class="feedback-link"
                            data-ajaxload="{{ path('app_feedback_load', { 'id': feedback.id }) }}"
                            data-ajaxupdate="{{ path('app_feedback_update', { 'id': feedback.id }) }}">
                            {{ route }}
                        </a>
                    </td>
                    <td>{{ feedback.topic }}</td>
                    <td>{{ feedback.content }}</td>
                    <td>{{ feedback.adminNotes }}</td>
                    <td>{{ feedback.assignedUser }}</td>
                    <td>{{ attribute(trans, feedback.status) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/feedback.js') }}"></script>
{% endblock javascripts %}