{% extends "layout.html.twig" %}

{% set authority = entity %}

{% block detail %}
    <ul>
        <li>Name: {{ authority.name }}</li>
        <li>Description:{{ authority.description }}</li>
        <li>Priority: {{ authority.priority }}</li>
        <li>Namings:
            {% if authority.namings is empty %}
                <p>No namings for {{ authority }}</p>
            {% else %}
                <ul>
                    {% for naming in authority.namings %}
                    <li>
                        <a href="{{ path('app_naming_show', { 'id': naming.id }) }}">  {{ naming }}  </a>
                    </li>
                    {% endfor %}
                </ul>
        </li>
    </ul>
        {% endif %}
{% endblock detail %}
{% block adminlnks %}
    {% if is_granted('ROLE_ADMIN') %}
        <h3>Admin Links</h3>
<a href="{{ path('app_authority_edit', { 'id': authority.id }) }}">Edit {{ authority }} </a>
    {% endif %}
{% endblock adminlnks %}
{% block sidebar %}
<h3><a href="{{ path('app_authority') }}">View All Authorities</a></h3>
{% endblock sidebar %}
